<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      class=""
      border="1"
      align="center"
      style="font-size: 20px"
      cellpadding="10"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% users.map((val,i)=>{ %>
        <tr>
          <td><%= ++i %></td>
          <td><%= val.name %></td>
          <td><%= val.phone %></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
